extends layouts/_default

block head
  +head({
    title: 'Snowpug'
  })

block body
  #app
    h1 Snowpack + Pug + Sass + Bootstap 5
    img(src='../assets/images/snowpack.jpeg')
    button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal')
      | Launch modal
    #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Modal title
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            | ...
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
